{% load static %}
{% load socialaccount %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/game.css' %}">
{% endblock extra_head %}

<div id="root">
    <section id="lCL40gBIWZnV2XaS"
        style="position:relative;overflow:hidden;display:grid;align-items:center;grid-template-columns:auto 100rem auto;z-index:0;">
        <div id="GQ3Omwh2ugPzGeLv"
            style="grid-area:1 / 1 / 2 / 4;display:grid;position:absolute;min-height:100%;min-width:100%;">
            <div id="Kl93EMeMzIbCn0ni" style="z-index:0;">
                <div id="F9AYFbjpIrHbUS5a" style="box-sizing:border-box;width:100%;height:100%;transform:rotate(0deg);">
                    <div id="MXkRR17POdmIeyHH" style="width:100%;height:100%;opacity:1.0;">
                        <div id="pycKFM4zZUlTTKLj"
                            style="background-color:#ffffff;opacity:1.0;transform:scale(1, 1);width:100%;height:100%;overflow:hidden;position:relative;">
                        </div>
                    </div>
                </div>
            </div>
            <div id="C47vAJrHbpyCnpXT" style="z-index:1;">
                <div id="givFK9oCrozh8yKi" style="box-sizing:border-box;width:100%;height:100%;transform:rotate(0deg);">
                    <div id="pIBFqYTkbISnr2mo" style="width:100%;height:100%;opacity:1.0;">
                        <div id="ArrNPAyibfRsMkpJ"
                            style="transform:scale(1, 1);width:100%;height:100%;overflow:hidden;position:relative;">
                            <div id="rWjx1ijspH9BINl7" class="scale_rotated_fill_v2" data-aspect-ratio="0.58517034"
                                style="width: calc(58.51703407% * max(1, var(--scale-fill, 1))); height: calc(175% / min(1, var(--scale-fill, 1))); position: absolute; top: 50%; left: 50%; opacity: 1; animation: auto ease 0s 1 normal none running none; --scale-fill: 0.9652205772439145;">
                                <img src="{% static 'images/login/map_bg.png' %}" loading="lazy"
                                    srcset="{% static 'images/login/map_bg.png' %} 410w, {% static 'images/login/map_bg.png' %} 922w"
                                    sizes="(max-width: 375px) 58.51703407vw, (min-width: 375.05px) and (max-width: 480px) 58.51703407vw, (min-width: 480.05px) and (max-width: 768px) 58.51703407vw, (min-width: 768.05px) and (max-width: 1024px) 58.51703407vw, (min-width: 1024.05px) 58.51703407vw"
                                    style="width:100%;height:100%;display:block;object-fit:cover;object-position:50% 50%;transform:translate(-50%, -50%) rotate(-90deg);">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="JFXPCRKswhUmgAMr" style="display:grid;position:relative;grid-area:1 / 2 / 2 / 3;">
            <div id="UsayTbTeR2PPMHHj">
                <div id="CasAZ0Pn1GKP7672" style="display:grid;position:relative;grid-area:2 / 2 / 17 / 7;">
                    <div id="FRDMgBfEabFpa8j0" style="z-index:2;">
                        <div id="mhlhphugwJZi0cUZ" style="padding-top:101.10998991%;transform:rotate(-22.92416538deg);">
                            <div id="IC0TC1UHsvuYJUkj"
                                style="position:absolute;top:0px;left:0px;width:100%;height:100%;">
                                <div id="j3ZcqVjuXs7uKfZE" style="width:100%;height:100%;opacity:1.0;">
                                    <div id="w4IxIHpmvb5fHaxf"
                                        style="transform:scale(1, 1);width:100%;height:100%;overflow:hidden;position:relative;">
                                        <div id="Ma9yOGF8qfSXFvDh"
                                            style="width: calc(100% * max(1, var(--scale-fill, 1))); height: calc(100% / min(1, var(--scale-fill, 1))); position: absolute; top: 50%; left: 50%; opacity: 1; animation: auto ease 0s 1 normal none running none;">
                                            <img src="{% static 'images/login/island.svg' %}"
                                                alt="Flat Map Skills Island " loading="lazy"
                                                style="width:100%;height:100%;display:block;object-fit:cover;object-position:50% 50%;transform:translate(-50%, -50%) rotate(0deg);">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="JMfHKofK1ppfpwzT" style="display:grid;position:relative;grid-area:2 / 2 / 4 / 5;">
                        <div id="iaqPqJzffKM9Hogu" style="z-index:28;">
                            <div id="gKzF0uSYTy5gpAd8" style="padding-top:51.25%;transform:rotate(0deg);">
                                <div id="nhdFhlJNRYGe4OJf"
                                    style="position:absolute;top:0px;left:0px;width:100%;height:100%;">
                                    <div id="BW7aKPGqTXTUFMvP" style="width:100%;height:100%;opacity:1.0;">
                                        <div id="Fi6iKhZSTt78ExGK"
                                            style="transform:scale(1, 1);width:100%;height:100%;overflow:hidden;position:relative;">
                                            <div id="wCA4fakD5ShOkknC"
                                                style="width: calc(100% * max(1, var(--scale-fill, 1))); height: calc(100% / min(1, var(--scale-fill, 1))); position: absolute; top: 50%; left: 50%; opacity: 1; animation: auto ease 0s 1 normal none running none;">
                                                <img src="{% static 'images/login/border.svg' %}"
                                                    alt="Rectangular Double-lined Frame" loading="lazy"
                                                    style="width:100%;height:100%;display:block;object-fit:cover;object-position:50% 50%;transform:translate(-50%, -50%) rotate(0deg);">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="RF2JsJH7GzDO9ngh" style="display:grid;position:relative;grid-area:3 / 3 / 4 / 5;">
                            <div id="UlXOeMtulLK1W2Ng" style="z-index:26;">
                                <div id="dgVtZaC6JAGVk7Vx" style="padding-top:50.79594427%;transform:rotate(0deg);">
                                    <div id="ycCR2uiUwlsIIxKc"
                                        style="position:absolute;top:0px;left:0px;width:100%;height:100%;">
                                        <img src="{% static 'images/login/title_bg.svg' %}" loading="lazy">
                                    </div>
                                </div>
                            </div>
                            <div id="skkZUKaselk6zJWN" style="z-index:27;">
                                <div id="bj1AoLxemat8OsH2"
                                    style="box-sizing:border-box;width:100%;height:100%;transform:rotate(0deg);">
                                    <div id="ph2lGMKMWstMPQdJ"
                                        style="opacity:1.0;display:flex;box-sizing:border-box;flex-direction:column;justify-content:flex-start;width:100%;height:100%;">
                                        <p id="wx56Y2QiY1yQC3Bo"
                                            style="color:#664500;font-family:YAEihaFxr4g-0;line-height:1.03622022em;text-align:center;">
                                            <span id="c2YsmkcDMaaCrPnc" style="color:#664500;">遠船</span>
                                        </p>
                                        <p id="iqCd2BYpUV9Tpuve"
                                            style="color:#664500;font-family:YAEihaFxr4g-0;line-height:1.03622022em;text-align:center;">
                                            <span id="fIs91LvIs3WnewSv" style="color:#664500;">夢想號</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="nPBX0DlCQbIPehj7" style="z-index:29;">
                        <div id="eQuTRtg2WwI9Dycs" style="padding-top:135.13513514%;transform:rotate(0deg);">
                            <div id="jm0tnxYWO6y7Hjjf"
                                style="position:absolute;top:0px;left:0px;width:100%;height:100%;">
                                <div id="QuDwBdAGmI5Nqd21" style="width:100%;height:100%;opacity:1.0;">
                                    <div id="G1MfSE8MYcv8m3uD"
                                        style="transform:scale(1, 1);width:100%;height:100%;overflow:hidden;position:relative;">
                                        <div id="TXImPskSMBhSoWea"
                                            style="width: calc(100% * max(1, var(--scale-fill, 1))); height: calc(100% / min(1, var(--scale-fill, 1))); position: absolute; top: 50%; left: 50%; opacity: 1; animation: auto ease 0s 1 normal none running none;">
                                            <img src="{% static 'images/login/pointer.svg' %}" alt="port icon"
                                                loading="lazy"
                                                style="width:100%;height:100%;display:block;object-fit:cover;object-position:50% 50%;transform:translate(-50%, -50%) rotate(0deg);">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            {% if request.user.is_authenticated %}
            <a id="UkZK0y9rUt3X664T" href="{% url 'logout_user' %}">
                {% include "base/login_btn.html" with text="登出" %}
            </a>
            {% else %}
            <a id="FRwYPMPiLw6wgTen" href="{% provider_login_url 'line' %}">
                {% include "base/login_btn.html" with text="Line登入" %}
            </a>
            <a id="UkZK0y9rUt3X664T" href="{% url 'login_page' %}">
                {% include "base/login_btn.html" with text="登入" %}
            </a>
            {% endif %}


            <div id="ysjzeUyfaQn9oKjm">
                <div id="rtjGsEShuN5tVuxP" style="display:grid;position:relative;grid-area:9 / 16 / 15 / 22;">
                    <div id="pkQFB6cuNBUPUI08" style="z-index:3;">
                        <div id="ogKyGSc7iSem2QTV" style="padding-top:100%;transform:rotate(-49.26403823deg);">
                            <div id="pgv9BUsPox2n0StT"
                                style="position:absolute;top:0px;left:0px;width:100%;height:100%;">
                                <div id="gkEW5J1yUxjC0CHr" style="width:100%;height:100%;opacity:1.0;">
                                    <div id="LuizRGsUz2FAVju8"
                                        style="transform:scale(1, 1);width:100%;height:100%;overflow:hidden;position:relative;">
                                        <div id="eRvQGh2amFQzxr6d"
                                            style="width: calc(100% * max(1, var(--scale-fill, 1))); height: calc(100% / min(1, var(--scale-fill, 1))); position: absolute; top: 50%; left: 50%; opacity: 1; animation: auto ease 0s 1 normal none running none;">
                                            <img src="{% static 'images/login/island2.svg' %}"
                                                alt="Flat Map Skills Island " loading="lazy"
                                                style="width:100%;height:100%;display:block;object-fit:cover;object-position:50% 50%;transform:translate(-50%, -50%) rotate(0deg);">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="LHVjXRLDaF39LZ0j" style="z-index:31;">
                        <div id="zmlBzG5MAlvCU98o" style="padding-top:100%;transform:rotate(0deg);">
                            <div id="JjqAsQpiRUJuNeNS"
                                style="position:absolute;top:0px;left:0px;width:100%;height:100%;">
                                <div id="yYe4pN9uVcBS8qau" style="width:100%;height:100%;opacity:1.0;">
                                    <div id="wJ4HggUmq76b5jHf"
                                        style="transform:scale(1, 1);width:100%;height:100%;overflow:hidden;position:relative;">
                                        <div id="ZpEhCx7m6MR2LEH1"
                                            style="width: calc(100% * max(1, var(--scale-fill, 1))); height: calc(100% / min(1, var(--scale-fill, 1))); position: absolute; top: 50%; left: 50%; opacity: 1; animation: auto ease 0s 1 normal none running none;">
                                            <img src="{% static 'images/login/gesture.svg' %}"
                                                alt="Volunteer Care Line Icon. Hospice Service Sign." loading="lazy"
                                                style="width:100%;height:100%;display:block;object-fit:cover;object-position:50% 50%;transform:translate(-50%, -50%) rotate(0deg);">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="jrmY0jzpu7s8gKrq" style="z-index:6;">
                <div id="YLjYEM2XkC8TcwdN" style="padding-top:16.125%;transform:rotate(-21.99699841deg);">
                    <div id="RtPRgGYJc4aJj0Jc" style="position:absolute;top:0px;left:0px;width:100%;height:100%;">
                        <div id="lUMKLx7mmUOAQEns" style="width:100%;height:100%;opacity:1.0;">
                            <div id="Hzccl1tkj8exSEzE"
                                style="transform:scale(1, 1);width:100%;height:100%;overflow:hidden;position:relative;">
                                <div id="srwUtBkjIZRwbEgf"
                                    style="width: calc(100% * max(1, var(--scale-fill, 1))); height: calc(100% / min(1, var(--scale-fill, 1))); position: absolute; top: 50%; left: 50%; opacity: 1; animation: auto ease 0s 1 normal none running none;">
                                    <img src="{% static 'images/login/curve.svg' %}"
                                        alt="Dash broken line arrow doodle hand-drawn" loading="lazy"
                                        style="width:100%;height:100%;display:block;object-fit:cover;object-position:50% 50%;transform:translate(-50%, -50%) rotate(0deg);">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="SpCjDD909SU1uO6F" style="z-index:19;">
                <div id="bjyDQF7QXTLPzE4Z" style="padding-top:73.75%;transform:rotate(0deg);">
                    <div id="aRc3JGvpzPkdKB6x" style="position:absolute;top:0px;left:0px;width:100%;height:100%;">
                        <div id="SW9wMgtRrSBrK2m8" style="width:100%;height:100%;opacity:1.0;">
                            <div id="B4rofQpI48gXVRX6"
                                style="transform:scale(1, 1);width:100%;height:100%;overflow:hidden;position:relative;">
                                <div id="WWhg4l1fJqbQT1DI"
                                    style="width: calc(100% * max(1, var(--scale-fill, 1))); height: calc(100% / min(1, var(--scale-fill, 1))); position: absolute; top: 50%; left: 50%; opacity: 1; animation: auto ease 0s 1 normal none running none;">
                                    <img src="{% static 'images/login/boat.svg' %}"
                                        alt="Chinese Boat with Red Sails Icon Isolated" loading="lazy"
                                        style="width:100%;height:100%;display:block;object-fit:cover;object-position:50% 50%;transform:translate(-50%, -50%) rotate(0deg);">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="A1Y6FRG2oHBPxYxM" style="z-index:5;">
                <div id="pG6qvCezyoz9fUvR" style="padding-top:16.125%;transform:rotate(29.76103215deg);">
                    <div id="Au4CdFhjqReV6ROe" style="position:absolute;top:0px;left:0px;width:100%;height:100%;">
                        <div id="BhFeYaGPjipPVLSj" style="width:100%;height:100%;opacity:1.0;">
                            <div id="BXTY3HgIEV5oy98n"
                                style="transform:scale(1, 1);width:100%;height:100%;overflow:hidden;position:relative;">
                                <div id="dnw9fi0DKZD9D6Up"
                                    style="width: calc(100% * max(1, var(--scale-fill, 1))); height: calc(100% / min(1, var(--scale-fill, 1))); position: absolute; top: 50%; left: 50%; opacity: 1; animation: auto ease 0s 1 normal none running none;">
                                    <img src="{% static 'images/login/curve.svg' %}"
                                        alt="Dash broken line arrow doodle hand-drawn" loading="lazy"
                                        style="width:100%;height:100%;display:block;object-fit:cover;object-position:50% 50%;transform:translate(-50%, -50%) rotate(0deg);">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="oAW9EVdNBAcUS1xB">
                <div id="tjS8nkoexYTR4dRU" style="display:grid;position:relative;grid-area:16 / 11 / 22 / 14;">
                    <div id="mWZSjEVLY2lWC8RY" style="display:grid;position:relative;grid-area:2 / 2 / 3 / 3;">
                        <div id="V3zXiULW72LZ4Hvf" style="z-index:22;">
                            <div id="ZmYWGYFJVskilUkp"
                                style="padding-top:96.34393929%;transform:rotate(-109.90546963deg);">
                                <div id="mx5u15HvwKOA5qwZ"
                                    style="position:absolute;top:0px;left:0px;width:100%;height:100%;">
                                    <div id="OBFgkTMzJ4co7InH" style="width:100%;height:100%;opacity:1.0;">
                                        <div id="YWvlxgm2Q9Yxw5k7"
                                            style="transform:scale(1, 1);width:100%;height:100%;overflow:hidden;position:relative;">
                                            <div id="A4eEOO9ilXIaZJyd"
                                                style="width: calc(132.72709588% * max(1, var(--scale-fill, 1))); height: calc(133.45870542% / min(1, var(--scale-fill, 1))); position: absolute; top: 50%; left: 50%; opacity: 1; animation: auto ease 0s 1 normal none running none;">
                                                <img src="{% static 'images/login/magnifier.svg' %}"
                                                    alt="Magnifying Glass Icon" loading="lazy"
                                                    style="width:100%;height:100%;display:block;object-fit:cover;object-position:62.32871693% 37.46477222%;transform:translate(-62.32871693%, -37.46477222%) rotate(0deg);">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="iYqTAPB42dL6ZPwp" style="z-index:21;">
                            <div id="znUpPMaubBQaGtxm" style="padding-top:100%;transform:rotate(-15.29122552deg);">
                                <div id="rlFLYkZPfIdi2eY2"
                                    style="position:absolute;top:0px;left:0px;width:100%;height:100%;">

                                    <svg id="daFvOmUUoTQyzPhg" viewBox="0 0 1080.0 1080.0"
                                        style="width:100%;height:100%;opacity:1.0;overflow:hidden;position:absolute;top:0%;left:0%;background:url('data:image/png;base64,');">
                                        <g id="pK1tStSyOS1Hpkqt" style="transform:scale(1, 1);">
                                            <foreignObject id="FheXkjXuYBn6NUtP" style="width:1080px;height:1080px;">
                                                <div id="dlk2uOkDuFR2fbmS"
                                                    style="clip-path:path('M540,0 C241.76623535,0 0,241.76623535 0,540 C0,838.23376465 241.76623535,1080 540,1080 C838.23376465,1080 1080,838.23376465 1080,540 C1080,241.76623535 838.23376465,0 540,0 Z');">
                                                    <div id="Uq66dbMgCexvcADm"
                                                        style="transform: scale(1, 1); transform-origin: 540px 540px; animation: auto ease 0s 1 normal none running none;">
                                                        <img src="{% static 'images/login/demo_phone.png' %}"
                                                            loading="lazy"
                                                            sizes="(max-width: 375px) 17.01653712vw, (min-width: 375.05px) and (max-width: 480px) 17.01653712vw, (min-width: 480.05px) and (max-width: 768px) 17.01653712vw, (min-width: 768.05px) and (max-width: 1024px) 17.01653712vw, (min-width: 1024.05px) 17.01653712vw"
                                                            style="transform:translate(-705.58372475px, -193.79833691px) rotate(0deg);transform-origin:1258.02924248px 710.6520236px;width:2516.05848496px;height:1421.3040472px;display:block;opacity:1.0;object-fit:fill;"></img>
                                                    </div>
                                                </div>
                                            </foreignObject>
                                        </g>
                                    </svg>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="x2QxrbezqJuWyReL" style="z-index:24;">
                <div id="JWY3LZYDDza1Vccp" style="padding-top:16.125%;transform:rotate(29.76103215deg);">
                    <div id="dYPvonbGhk9Y7zL4" style="position:absolute;top:0px;left:0px;width:100%;height:100%;">
                        <div id="hhmzsA0OBBjVfaRG" style="width:100%;height:100%;opacity:1.0;">
                            <div id="okdkoJtB4XZSVXOW"
                                style="transform:scale(1, 1);width:100%;height:100%;overflow:hidden;position:relative;">
                                <div id="x9BeXauC8xYvTnt7"
                                    style="width: calc(100% * max(1, var(--scale-fill, 1))); height: calc(100% / min(1, var(--scale-fill, 1))); position: absolute; top: 50%; left: 50%; opacity: 1; animation: auto ease 0s 1 normal none running none;">
                                    <img src="{% static 'images/login/curve.svg' %}"
                                        alt="Dash broken line arrow doodle hand-drawn" loading="lazy"
                                        style="width:100%;height:100%;display:block;object-fit:cover;object-position:50% 50%;transform:translate(-50%, -50%) rotate(0deg);">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="dhjrUYNjpiZolM2s">
                <div id="Jw9fauGZITo7JWrp" style="display:grid;position:relative;grid-area:19 / 18 / 27 / 25;">
                    <div id="JghIhZihVGaC0XTK" style="z-index:23;">
                        <div id="rtsheB8kXAsuhVZx" style="padding-top:101.10998991%;transform:rotate(-22.92416538deg);">
                            <div id="r5Mwk6Kjhh1HOIkY"
                                style="position:absolute;top:0px;left:0px;width:100%;height:100%;">
                                <div id="Dz91exIBSExa5Co6" style="width:100%;height:100%;opacity:1.0;">
                                    <div id="ElqJr4wFqmCMUboB"
                                        style="transform:scale(1, 1);width:100%;height:100%;overflow:hidden;position:relative;">
                                        <div id="jb8Sc1KhJSCkybgI"
                                            style="width: calc(100% * max(1, var(--scale-fill, 1))); height: calc(100% / min(1, var(--scale-fill, 1))); position: absolute; top: 50%; left: 50%; opacity: 1; animation: auto ease 0s 1 normal none running none;">
                                            <img src="{% static 'images/login/island3.svg' %}"
                                                alt="Flat Map Skills Island " loading="lazy"
                                                style="width:100%;height:100%;display:block;object-fit:cover;object-position:50% 50%;transform:translate(-50%, -50%) rotate(0deg);">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="RfqPjSM2Lw115p4U" style="z-index:32;">
                        <div id="cOFEJG8P2J5bqh5r" style="padding-top:133.77926421%;transform:rotate(0deg);">
                            <div id="ZpYlYfBodvWARE5q"
                                style="position:absolute;top:0px;left:0px;width:100%;height:100%;">
                                <div id="myosGZiultEL7sfc" style="width:100%;height:100%;opacity:1.0;">
                                    <div id="lFJjMNjrfHTo1VMU"
                                        style="transform:scale(1, 1);width:100%;height:100%;overflow:hidden;position:relative;">
                                        <div id="xHe8HmZjmnEDgDEK"
                                            style="width: calc(100% * max(1, var(--scale-fill, 1))); height: calc(100% / min(1, var(--scale-fill, 1))); position: absolute; top: 50%; left: 50%; opacity: 1; animation: auto ease 0s 1 normal none running none;">
                                            <img src="{% static 'images/login/flag.svg' %}"
                                                alt="Deadline, finish, flag, stop point icon" loading="lazy"
                                                style="width:100%;height:100%;display:block;object-fit:cover;object-position:50% 50%;transform:translate(-50%, -50%) rotate(0deg);">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="NjJ8MR7DnPxljEIA" style="z-index:25;">
                <div id="bIjhk05JwITUeXgK" style="padding-top:16.125%;transform:rotate(144.26236345deg);">
                    <div id="D67XfYA4yeEaMagW" style="position:absolute;top:0px;left:0px;width:100%;height:100%;">
                        <div id="YnXPr79m6gbqvlNp" style="width:100%;height:100%;opacity:1.0;">
                            <div id="KK2sm6Rc0H7AFgdc"
                                style="transform:scale(1, 1);width:100%;height:100%;overflow:hidden;position:relative;">
                                <div id="oZD87ggkmP3wdfN1"
                                    style="width: calc(100% * max(1, var(--scale-fill, 1))); height: calc(100% / min(1, var(--scale-fill, 1))); position: absolute; top: 50%; left: 50%; opacity: 1; animation: auto ease 0s 1 normal none running none;">
                                    <img src="{% static 'images/login/curve.svg' %}"
                                        alt="Dash broken line arrow doodle hand-drawn" loading="lazy"
                                        style="width:100%;height:100%;display:block;object-fit:cover;object-position:50% 50%;transform:translate(-50%, -50%) rotate(0deg);">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="q3pQA1sn4PlWPBF8">
                <div id="Y4oNSBeeU91n1D5E" style="display:grid;position:relative;grid-area:24 / 3 / 26 / 5;">
                    <div id="iRa64bwNqVg1Bzo2" style="z-index:4;">
                        <div id="NsyMQj53v4IbopTt" style="padding-top:100%;transform:rotate(-49.26403823deg);">
                            <div id="NFMWO2fN9UUgGpjN"
                                style="position:absolute;top:0px;left:0px;width:100%;height:100%;">
                                <div id="sVwjiyLQ3tGX5aA0" style="width:100%;height:100%;opacity:1.0;">
                                    <div id="kIURLRsQJ1fq0gOr"
                                        style="transform:scale(1, 1);width:100%;height:100%;overflow:hidden;position:relative;">
                                        <div id="XbYkVlAvnT4S9jYY"
                                            style="width: calc(100% * max(1, var(--scale-fill, 1))); height: calc(100% / min(1, var(--scale-fill, 1))); position: absolute; top: 50%; left: 50%; opacity: 1; animation: auto ease 0s 1 normal none running none;">
                                            <img src="{% static 'images/login/island4.svg' %}"
                                                alt="Flat Map Skills Island " loading="lazy"
                                                style="width:100%;height:100%;display:block;object-fit:cover;object-position:50% 50%;transform:translate(-50%, -50%) rotate(0deg);">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="wdxLIpnQaDdw0wJD" style="z-index:30;">
                        <div id="ZpBSyN5MrEpIGbUT" style="padding-top:100%;transform:rotate(0deg);">
                            <div id="YDUP6SbsMZqLkZ2P"
                                style="position:absolute;top:0px;left:0px;width:100%;height:100%;">
                                <div id="E8laITpmXfawSECC" style="width:100%;height:100%;opacity:1.0;">
                                    <div id="IPHFgwgcPAeGRNpp"
                                        style="transform:scale(1, 1);width:100%;height:100%;overflow:hidden;position:relative;">
                                        <div id="GS7CWudJG9S4NyvH"
                                            style="width: calc(100% * max(1, var(--scale-fill, 1))); height: calc(100% / min(1, var(--scale-fill, 1))); position: absolute; top: 50%; left: 50%; opacity: 1; animation: auto ease 0s 1 normal none running none;">
                                            <img src="{% static 'images/login/tree.svg' %}" alt="Forest Icon"
                                                loading="lazy"
                                                style="width:100%;height:100%;display:block;object-fit:cover;object-position:50% 50%;transform:translate(-50%, -50%) rotate(0deg);">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>