{% load static %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/login_btn.css' %}">
{% endblock extra_head %}

<div id="qhpiQ8N7AfN6Ytzn">
    <div id="IutEyvHedX9faY1a">
        <div id="iwVh9YKw4tLvAAJe">
            <div id="G0bHj53GIpUnIdJx">

                <svg preserveAspectRatio="none" id="NoBu0g7atxj6vGkV" viewBox="0 0 157.0819 89.9666">
                    <g id="lUTZsttFAyBl84z7">
                        <g id="k9DG8hjQ2wQDIOlm">
                            <clipPath id="g99Blar7oIAWKVSJ">
                                <path
                                    d="M141.08188303,0 L16,0 L0,44.98328093 L16,89.96656186 L141.08188303,89.96656186 L157.08188303,44.98328093 L141.08188303,0 Z">
                                </path>
                            </clipPath>
                            <path id="hH9s50Inc8fyHZUB"
                                d="M141.08188303,0 L16,0 L0,44.98328093 L16,89.96656186 L141.08188303,89.96656186 L157.08188303,44.98328093 L141.08188303,0 Z">
                            </path>
                            <path id="GF2S2vu21pPwkKhQ"
                                d="M141.08188303,0 L16,0 L0,44.98328093 L16,89.96656186 L141.08188303,89.96656186 L157.08188303,44.98328093 L141.08188303,0 Z">
                            </path>
                        </g>
                    </g>
                </svg>

            </div>
        </div>
        <div id="ApKI984zjIzyRJks">
            <div id="Hw0Y3DWARV4qdMU6">
                <div id="myHCUaaDbB08j86W">
                    <div id="E8MjioGfW0Kbw3FR">

                        <svg preserveAspectRatio="none" id="kaUyepo41ilUORsS" viewBox="0 0 168.1343 93.1698">
                            <g id="qvcBocgRqCunIRY4">
                                <g id="KFqxNUEe4vPXpd5g">
                                    <clipPath id="GUMi4UmXPzuI6nkZ">
                                        <path
                                            d="M152.13425956,0 L16,0 L0,46.58489226 L16,93.16978453 L152.13425956,93.16978453 L168.13425956,46.58489226 L152.13425956,0 Z">
                                        </path>
                                    </clipPath>
                                    <path id="pMD2tTrarCgfgFJL"
                                        d="M152.13425956,0 L16,0 L0,46.58489226 L16,93.16978453 L152.13425956,93.16978453 L168.13425956,46.58489226 L152.13425956,0 Z">
                                    </path>
                                    <path id="gLDckFilyqKpr96e"
                                        d="M152.13425956,0 L16,0 L0,46.58489226 L16,93.16978453 L152.13425956,93.16978453 L168.13425956,46.58489226 L152.13425956,0 Z">
                                    </path>
                                </g>
                            </g>
                        </svg>

                    </div>
                </div>
                <div id="u9D1diezp4ukBx98">
                    <div id="deX3g1g2YFrDkJtG">
                        <p id="YcK8BaVu8IwAIlkI">
                            <span id="r3kWDB6Dx1sUK3WL">{{text}}</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>