{% extends 'main.html' %}
{% load static %}
{% block extra_head %}
  <link rel="stylesheet" href="{% static 'styles/about.css' %}" />
  <link rel="stylesheet" href="{% static 'styles/btn_eos.css' %}" />
{% endblock %}
{% block content %}
  <div class="container mb-5">
    <div class="home-wrapper">
      <div class="btn-left">
        <div class="group">
          <a class="btn button btn-info" href="{% url 'home_page' %}"><span>Home</span></a>
        </div>
      </div>
      {% comment %} <div class="home-center">
        <div class="home-center-wrapper">
          <div class="container">
            <div class="row align-items-center">
            PACE Explorer
            </div>
          </div>
        </div>
      </div> {% endcomment %}
    </div>
    <div class="home-wrapper">
      <div class="home-left">
        <div class="group">
          <h3>
            About Us
          </h3>
        </div>
      </div>
      <div class="home-center">
        <div class="home-center-wrapper">
          <div class="container">
            <div class="row align-items-center">
              <h4>
                PACE Explorer
              </h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="home-wrapper">
      <div class="home-left">
        <div class="group">
          <h3>
            2.
          </h3>
        </div>
      </div>
      <div class="home-center">
        <div class="home-center-wrapper">
          <div class="container">
            <div class="row align-items-center">
              PACE Explorer
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="home-wrapper">
      <div class="home-left">
        <div class="group">
          <h3>
            3.
          </h3>
        </div>
      </div>
      <div class="home-center">
        <div class="home-center-wrapper">
          <div class="container">
            <div class="row align-items-center">
              PACE Explorer
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="home-wrapper">
      <div class="home-left">
        <div class="group">
          <h3>
            4.
          </h3>
        </div>
      </div>
      <div class="home-center">
        <div class="home-center-wrapper">
          <div class="container">
            <div class="row align-items-center">
              PACE Explorer
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="home-wrapper">
      <div class="home-left">
        <div class="group">
          <h3>
            5.
          </h3>
        </div>
      </div>
      <div class="home-center">
        <div class="home-center-wrapper">
          <div class="container">
            <div class="row align-items-center">
              PACE Explorer
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="home-wrapper">
      <div class="home-left">
        <div class="group">
          <h3>
            6.
          </h3>
        </div>
      </div>
      <div class="home-center">
        <div class="home-center-wrapper">
          <div class="container">
            <div class="row align-items-center">
              PACE Explorer
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
