{% extends 'main.html' %}
{% load static %}

{% block extra_head %}
  <link rel="stylesheet" href="{% static 'styles/btn_eos.css' %}" />
  <style>
    body {    
      background-image: url('../static/images/developing_bg.svg');
      /* https://media.istockphoto.com/id/1481308340/video/swimming-pool.jpg?b=1&s=640x640&k=20&c=U_nXpEsoONq9Hkyp5hqa3fc7q9AEzeg2yaCCseC_AyU= */
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
    
    .dev_container {
      display: flex;
      flex-direction: column;
      gap: 5em;
      padding: 5em;
      min-height: 100dvh;
    }
    
    .dev_container > a {
      z-index: 2;
    }
  </style>
{% endblock %}

{% block content %}
  <div class="dev_container d-flex justify-content-center align-items-center">
    <img class="developing" src="{% static 'images/developing.svg' %}" />
    <a href="{% url 'home_page' %}">
        <img src="{% static 'images/back.png' %}" alt="Home" />
    </a>
  </div>
{% endblock %}

{% block extraScript %}

{% endblock %}
