{% load static %}
{% load socialaccount %}
<div id="root">
  <section id="lCL40gBIWZnV2XaS">
    <div id="JFXPCRKswhUmgAMr">
      <div class="nav_home">
        <div id="JMfHKofK1ppfpwzT">
          <div id="RF2JsJH7GzDO9ngh">
            <div id="UlXOeMtulLK1W2Ng">
              <div id="dgVtZaC6JAGVk7Vx">
                <div id="ycCR2uiUwlsIIxKc">
                  <img src="{% static 'images/login/title_bg.svg' %}" alt="" />
                </div>
              </div>
            </div>
            <div id="skkZUKaselk6zJWN">
              <div id="bj1AoLxemat8OsH2">
                <div id="ph2lGMKMWstMPQdJ">
                  <p id="wx56Y2QiY1yQC3Bo">
                    <span id="c2YsmkcDMaaCrPnc">PACE Explorer</span>
                  </p>
                  {% comment %} <p id="wx56Y2QiY1yQC3Bo">
                    <span id="c2YsmkcDMaaCrPnc">遠船</span>
                  </p>
                  <p id="iqCd2BYpUV9Tpuve">
                    <span id="fIs91LvIs3WnewSv">夢想號</span>
                  </p> {% endcomment %}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="nav_right_btn">
          {% include "navbar.html" %}
        </div>
      </div>
      <div id="UsayTbTeR2PPMHHj">
        <div id="CasAZ0Pn1GKP7672">
          <a id="FRDMgBfEabFpa8j0" href="{% url 'aerosol' %}">
            <div id="w4IxIHpmvb5fHaxf">
              <div id="Ma9yOGF8qfSXFvDh">
                <img class="island"
                     src="{% static 'images/login/island.svg' %}"
                     alt="Flat Map Skills Island " />
              </div>
            </div>
          </a>
          <div id="pointer">
            <div id="G1MfSE8MYcv8m3uD">
              <div id="TXImPskSMBhSoWea">
                <img src="{% static 'images/login/pointer_notext.svg' %}" alt="port icon" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="ysjzeUyfaQn9oKjm">
        <div id="rtjGsEShuN5tVuxP">
          <a id="pkQFB6cuNBUPUI08" href="{% url 'plankton' %}">
            <div id="LuizRGsUz2FAVju8">
              <div id="eRvQGh2amFQzxr6d">
                <img class="island"
                     src="{% static 'images/login/island2.svg' %}"
                     alt="Flat Map Skills Island " />
              </div>
            </div>
          </a>
          <div id="LHVjXRLDaF39LZ0j">
            <div id="wJ4HggUmq76b5jHf">
              <div id="ZpEhCx7m6MR2LEH1">
                <img src="{% static 'images/login/gesture.svg' %}"
                     alt="Volunteer Care Line Icon. Hospice Service Sign." />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="jrmY0jzpu7s8gKrq">
        <div id="Hzccl1tkj8exSEzE">
          <div id="srwUtBkjIZRwbEgf">
            <img src="{% static 'images/login/curve.svg' %}"
                 alt="Dash broken line arrow doodle hand-drawn" />
          </div>
        </div>
      </div>
      <div id="SpCjDD909SU1uO6F">
        <a id="bjyDQF7QXTLPzE4Z" href="{% url 'chatroom_home' %}">
          <div id="aRc3JGvpzPkdKB6x">
            <div id="SW9wMgtRrSBrK2m8">
              <div id="B4rofQpI48gXVRX6">
                <div id="WWhg4l1fJqbQT1DI">
                  <img src="{% static 'images/login/boat.svg' %}"
                       alt="Chinese Boat with Red Sails Icon Isolated" />
                </div>
              </div>
            </div>
          </div>
        </a>
        <div id="demo_magnifier">
          <img src="{% static 'images/login/store.svg' %}" />
        </div>
      </div>
      <div id="A1Y6FRG2oHBPxYxM">
        <div id="BXTY3HgIEV5oy98n">
          <div id="dnw9fi0DKZD9D6Up">
            <img src="{% static 'images/login/curve.svg' %}"
                 alt="Dash broken line arrow doodle hand-drawn" />
          </div>
        </div>
      </div>
      <div id="dhjrUYNjpiZolM2s">
        <div id="Jw9fauGZITo7JWrp">
          {% comment %} href="https://www.surveycake.com/s/KZayv" {% endcomment %}
          <a id="JghIhZihVGaC0XTK" href="{% url 'pace_instruments' %}">
            <div id="rtsheB8kXAsuhVZx">
              <div id="jb8Sc1KhJSCkybgI">
                <img class="island"
                     src="{% static 'images/login/island3.svg' %}"
                     alt="Flat Map Skills Island " />
              </div>
            </div>
          </a>
          <div id="flag">
            <div id="lFJjMNjrfHTo1VMU">
              <div id="xHe8HmZjmnEDgDEK">
                <img src="{% static 'images/login/flag_notext.svg' %}"
                     alt="Deadline, finish, flag, stop point icon" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="q3pQA1sn4PlWPBF8">
        <div class="home-wrapper">
          <div class="npc-left">
            <div class="group">
              <img src="{% static 'images/login/captain.png' %}" alt="Captain" />
            </div>
          </div>
          <div class="home-center">
            <div class="slideshow-container">
              <div class="mySlides fde">
                <p>
                  Welcome, brave sailor! The time has come to set sail on a grand expedition across the universe. Your journey begins here, where you will explore the vast mysteries of space and uncover secrets hidden deep within the atmosphere and oceans of distant planets.
                </p>
              </div>
              <div class="mySlides fde">
                <p>
                  NASA's PACE mission has provided us with powerful tools, and now, it's up to you to use them.
                </p>
              </div>
              <div class="mySlides fde">
                <p>
                  But first, we need to know a little more about you. This will help us tailor your mission to match your skills and interests.
                </p>
              </div>
              <div class="mySlides fde">
                <p>
                  Are you setting sail as a <b>male sailor</b> or a <b>female sailor</b>?
                </p>
              </div>
              <div class="mySlides fde">
                <p>
                  You stand at the edge of a futuristic harbor, the wind rustling the sails of your spacecraft. As captain, you're preparing to navigate the oceans of Earth and the universe. Your mission? To explore environmental changes, uncover space's mysteries, and protect the future of all life.
                </p>
              </div>
              <div class="mySlides fde">
                <p>
                  Before you embark on this journey, tell us a little about the kinds of environments you’re interested in. Your responses will help guide you to the best place to start your adventure!
                </p>
              </div>
              <div class="mySlides fde">
                <p>
                  <b>
                    Imagine you’re a sailor exploring new worlds. What role would you prefer?
                  </b>
                </p>
              </div>
              <div class="mySlides fde">
                <p>
                  A) The <b>environmental scientist</b>—studying algae and learning how their growth patterns influence water quality and marine life.
                </p>
              </div>
              <div class="mySlides fde">
                <p>
                  B) The <b>technological explorer</b>—using cutting-edge tools to monitor the atmosphere and study changes in the environment.
                </p>
              </div>
              <div class="mySlides fde">
                <p>
                  C) The climate advocate—focusing on the relationship between <b>air pollution</b>, aerosols, and how they influence climate change across planets.
                </p>
              </div>
              <div class="mySlides fde">
                <p>
                  <b>
                    Which era’s environmental challenges interest you the most?
                  </b>
                </p>
              </div>
              <div class="mySlides fde">
                <p>
                  A) The <b>Industrial Age</b>, when rapid industrialization led to pollution and a rise in harmful emissions.
                </p>
              </div>
              <div class="mySlides fde">
                <p>
                  B) The <b>Modern Era</b>, where technology is advanced but we still face critical environmental issues like air quality and global warming.
                </p>
              </div>
              <div class="mySlides fde">
                <p>
                  C) The <b>Future</b>, where space exploration and unknown environmental threats could challenge humanity’s survival.
                </p>
              </div>
              <div class="mySlides fde">
                <p>
                  <b>
                    What is your top environmental priority on this space voyage?
                  </b>
                </p>
              </div>
              <div class="mySlides fde">
                <p>
                  A) Investigating how <b>algae</b> affect marine ecosystems and what happens when harmful blooms occur.
                </p>
              </div>
              <div class="mySlides fde">
                <p>
                  B) Learning how <b>technology</b> is used to track air quality, measure pollutants, and observe the atmosphere.
                </p>
              </div>
              <div class="mySlides fde">
                <p>
                  C) Understanding the global challenges of <b>air quality and aerosols</b>, and how their interactions with the ocean affect the environment and climate.
                </p>
              </div>
              <div class="mySlides fde">
                <p>
                  Ahoy, young sailor! Start with the Recommended Topic level to learn how aerosols impact the environment and air quality. Discover how NASA's instruments capture reflections to monitor our atmosphere. This knowledge will prepare you for greater adventures. Set sail and begin your journey!
                </p>
              </div>
              <div class="mySlides fde">
                <p>
                  Set sail with courage, young explorer! Every journey begins with a step into the unknown. The vast oceans await your curiosity. Don’t be afraid to explore, for each discovery will make you wiser. The world is full of wonders—hoist your sails and embark on your adventure!
                </p>
              </div>
              {% comment %} Next and previous buttons {% endcomment %}
              <div class="icon-wrapper">
                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>
              </div>
            </div>
          </div>
        </div>
        {% comment %} <div id="Y4oNSBeeU91n1D5E">
          <a id="iRa64bwNqVg1Bzo2" href="https://www.surveycake.com/s/4ZO97" target="_blank">
            <div id="kIURLRsQJ1fq0gOr">
              <div id="XbYkVlAvnT4S9jYY">
                <img class="island" src="{% static 'images/login/island4.svg' %}" alt="Flat Map Skills Island " />
              </div>
            </div>
          </a>
          <div id="wdxLIpnQaDdw0wJD">
            <div id="IPHFgwgcPAeGRNpp">
              <div id="GS7CWudJG9S4NyvH">
                <img src="{% static 'images/login/tree.svg' %}" alt="Forest Icon" />
              </div>
            </div>
          </div>
        </div> {% endcomment %}
      </div>
    </div>
  </section>
</div>
{% block extraScript %}
{% endblock extraScript %}
