{% extends 'main.html' %}
{% load static %}
{% block extra_head %}
    <meta name="description" content="An educational game using data from NASA's PACE mission" />
    <meta name="keywords"
          content="PACE, NASA, Plankton, Aerosol, Cloud, Ocean, Ecosystem" />
    <link rel="stylesheet" href="{% static 'styles/textgroup.css' %}">
    <link rel="stylesheet"
          type="text/css"
          href="{% static 'styles/game.css' %}" />
    <style type="text/css">
        #Ma9yOGF8qfSXFvDh>img,
        #jb8Sc1KhJSCkybgI>img,
        #XbYkVlAvnT4S9jYY>img,
        #eRvQGh2amFQzxr6d>img,
        #bjyDQF7QXTLPzE4Z img {
            filter: url(#pixelate);
            /* need transform to avoid disappearing on safari */
        }
    </style>
{% endblock %}
{% block content %}
    {% comment %}
  {% if request.user.is_authenticated %}
    <p>hello {{ request.user }}~</p>
  {% endif %}
    {% endcomment %}
    <div class="game_container">
        {% include 'base/home_game.html' %}
    </div>
    <audio src="{% static 'rpg/audio/select.mp3' %}" id="play_select"></audio>
{% endblock %}
{% block extraScript %}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://kit.fontawesome.com/00e5774e18.js"
            crossorigin="anonymous"></script>
    <script>
        function pop_login() {
            Swal.fire({
                title: '帳號登入',
                icon: 'info',
                html: `{% include "base/pop_login.html" %}`,
                showConfirmButton: false,
                focusConfirm: false,
                preConfirm: () => {}
            })
        }

        function play_select() {
            var play_select = document.getElementById('play_select');
            play_select.play();
        }
    </script>
    {% if messages %}
        <script>
            Swal.fire({
                title: '注意',
                icon: 'info',
                html: `{% include "base/messages.html" %}`,
                showConfirmButton: false,
                focusConfirm: false,
                preConfirm: () => {}
            })
        </script>
    {% endif %}
{% endblock %}
