{% load static %}
{% load socialaccount %}
<div id="root">
  <section id="lCL40gBIWZnV2XaS">
    <div id="JFXPCRKswhUmgAMr">
      <div class="nav_home">
        <div id="JMfHKofK1ppfpwzT">
          <div id="RF2JsJH7GzDO9ngh">
            <div id="UlXOeMtulLK1W2Ng">
              <div id="dgVtZaC6JAGVk7Vx">
                <div id="ycCR2uiUwlsIIxKc">
                  <img src="{% static 'images/login/title_bg.svg' %}" alt="" />
                </div>
              </div>
            </div>
            <div id="skkZUKaselk6zJWN">
              <div id="bj1AoLxemat8OsH2">
                <div id="ph2lGMKMWstMPQdJ">
                  <p id="wx56Y2QiY1yQC3Bo">
                    <span id="c2YsmkcDMaaCrPnc">PACE Explorer</span>
                  </p>
                  {% comment %} <p id="wx56Y2QiY1yQC3Bo">
                    <span id="c2YsmkcDMaaCrPnc">遠船</span>
                  </p>
                  <p id="iqCd2BYpUV9Tpuve">
                    <span id="fIs91LvIs3WnewSv">夢想號</span>
                  </p> {% endcomment %}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="nav_right_btn">
          {% include "navbar.html" %}
        </div>
      </div>
      <div id="UsayTbTeR2PPMHHj">
        <div id="CasAZ0Pn1GKP7672">
          <a id="FRDMgBfEabFpa8j0" href="{% url 'aerosol' %}">
            <div id="w4IxIHpmvb5fHaxf">
              <div id="Ma9yOGF8qfSXFvDh">
                <img class="island"
                     src="{% static 'images/login/island.svg' %}"
                     alt="Flat Map Skills Island " />
              </div>
            </div>
          </a>
          <div id="pointer">
            <div id="G1MfSE8MYcv8m3uD">
              <div id="TXImPskSMBhSoWea">
                <img src="{% static 'images/login/pointer_notext.svg' %}" alt="port icon" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="ysjzeUyfaQn9oKjm">
        <div id="rtjGsEShuN5tVuxP">
          <a id="pkQFB6cuNBUPUI08" href="{% url 'plankton' %}">
            <div id="LuizRGsUz2FAVju8">
              <div id="eRvQGh2amFQzxr6d">
                <img class="island"
                     src="{% static 'images/login/island2.svg' %}"
                     alt="Flat Map Skills Island " />
              </div>
            </div>
          </a>
          <div id="LHVjXRLDaF39LZ0j">
            <div id="wJ4HggUmq76b5jHf">
              <div id="ZpEhCx7m6MR2LEH1">
                <img src="{% static 'images/login/gesture.svg' %}"
                     alt="Volunteer Care Line Icon. Hospice Service Sign." />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="jrmY0jzpu7s8gKrq">
        <div id="Hzccl1tkj8exSEzE">
          <div id="srwUtBkjIZRwbEgf">
            <img src="{% static 'images/login/curve.svg' %}"
                 alt="Dash broken line arrow doodle hand-drawn" />
          </div>
        </div>
      </div>
      <div id="SpCjDD909SU1uO6F">
        <a id="bjyDQF7QXTLPzE4Z" href="{% url 'chatroom_home' %}">
          <div id="aRc3JGvpzPkdKB6x">
            <div id="SW9wMgtRrSBrK2m8">
              <div id="B4rofQpI48gXVRX6">
                <div id="WWhg4l1fJqbQT1DI">
                  <img src="{% static 'images/login/boat.svg' %}"
                       alt="Chinese Boat with Red Sails Icon Isolated" />
                </div>
              </div>
            </div>
          </div>
        </a>
        <div id="demo_magnifier">
          <img src="{% static 'images/login/store.svg' %}" />
        </div>
      </div>
      <div id="A1Y6FRG2oHBPxYxM">
        <div id="BXTY3HgIEV5oy98n">
          <div id="dnw9fi0DKZD9D6Up">
            <img src="{% static 'images/login/curve.svg' %}"
                 alt="Dash broken line arrow doodle hand-drawn" />
          </div>
        </div>
      </div>
      <div id="dhjrUYNjpiZolM2s">
        <div id="Jw9fauGZITo7JWrp">
          {% comment %} href="https://www.surveycake.com/s/KZayv" {% endcomment %}
          <a id="JghIhZihVGaC0XTK" href="{% url 'pace_instruments' %}">
            <div id="rtsheB8kXAsuhVZx">
              <div id="jb8Sc1KhJSCkybgI">
                <img class="island"
                     src="{% static 'images/login/island3.svg' %}"
                     alt="Flat Map Skills Island " />
              </div>
            </div>
          </a>
          <div id="flag">
            <div id="lFJjMNjrfHTo1VMU">
              <div id="xHe8HmZjmnEDgDEK">
                <img src="{% static 'images/login/flag_notext.svg' %}"
                     alt="Deadline, finish, flag, stop point icon" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="q3pQA1sn4PlWPBF8">
        <div class="home-wrapper">
          <div class="npc-left">
            <div class="group">
              <img src="{% static 'images/login/captain.png' %}" alt="Captain" />
            </div>
          </div>
          <div class="home-center">
            <div class="home-center-wrapper">
              <div class="container">
                <div class="row align-items-center">
                  <p>
                    PACE Explorer
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% comment %} <div id="Y4oNSBeeU91n1D5E">
          <a id="iRa64bwNqVg1Bzo2" href="https://www.surveycake.com/s/4ZO97" target="_blank">
            <div id="kIURLRsQJ1fq0gOr">
              <div id="XbYkVlAvnT4S9jYY">
                <img class="island" src="{% static 'images/login/island4.svg' %}" alt="Flat Map Skills Island " />
              </div>
            </div>
          </a>
          <div id="wdxLIpnQaDdw0wJD">
            <div id="IPHFgwgcPAeGRNpp">
              <div id="GS7CWudJG9S4NyvH">
                <img src="{% static 'images/login/tree.svg' %}" alt="Forest Icon" />
              </div>
            </div>
          </div>
        </div> {% endcomment %}
      </div>
    </div>
  </section>
</div>
{% block extraScript %}
{% endblock extraScript %}
