{% load static %}

{% block extra_head %}
  <link rel="stylesheet" type="text/css" href="{% static 'styles/login_btn.css' %}" />
{% endblock %}

<div id="qhpiQ8N7AfN6Ytzn">
  <div id="IutEyvHedX9faY1a">
    <div id="ApKI984zjIzyRJks">
      <div id="Hw0Y3DWARV4qdMU6">
        <div id="myHCUaaDbB08j86W">
          <div id="E8MjioGfW0Kbw3FR">
            <img src="{% static 'images/login/login_btn.svg' %}" class="login_btn" alt="login_btn" />
          </div>
        </div>
        <div id="u9D1diezp4ukBx98">
          <div id="deX3g1g2YFrDkJtG">
            <p id="YcK8BaVu8IwAIlkI">
              <span id="r3kWDB6Dx1sUK3WL">{{ text }}</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
