{% extends 'main.html' %}
{% load static %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'styles/slideshow.css' %}" />
{% endblock %}
{% block content %}
    <div class="super-container">
        <div class="slideshow-container">
            {% comment %} Full-width images with number and caption text {% endcomment %}
            <div class="mySlides fde">
                <div class="numbertext">
                    1 / 3
                </div>
                <img src="{% static 'images/chaetoceros_socialis.png' %}"
                     alt="chaetoceros_socialis.png">
                <div class="text">
                    <h1>
                        Chaetoceros socialis
                    </h1>
                    <h3>
                        Ahoy, young sailor! Meet Chaetoceros socialis, a tiny sea explorer that lives in groups, helping keep the ocean clean by recycling nutrients. While their cousins have spiky armor that can bother fish, this friendly diatom is usually harmless!
                    </h3>
                </div>
            </div>
            <div class="mySlides fde">
                <div class="numbertext">
                    2 / 3
                </div>
                <img src="{% static 'images/rhizosolenia.png' %}" alt="rhizosolenia.png">
                <div class="text">
                    <h1>
                        Rhizosolenia
                    </h1>
                    <div class="row">
                        <h3>
                            Ahoy there, young sailor! Did ye know that <b>Rhizosolenia</b> are tiny sea creatures shaped like the tip of an ink pen? These little wonders can join forces to create floating mats so big, they can be spotted from space!
                        </h3>
                        <h3>
                            What’s even more amazing is they’ve got a secret weapon—<b>cyanobacteria</b>—that helps them bring nutrients from the deep ocean up to the surface, feeding other ocean life. But fear not! These tiny sea friends aren’t dangerous—just helpful explorers of the sea!
                        </h3>
                    </div>
                </div>
            </div>
            <div class="mySlides fde">
                <div class="numbertext">
                    3 / 3
                </div>
                <img src="{% static 'images/karenia_brevis_1.png' %}"
                     alt="karenia_brevis_1.png">
                <img src="{% static 'images/karenia_brevis_2.png' %}"
                     alt="karenia_brevis_2.png">
                <div class="text">
                    <h1>
                        Karenia Brevis
                    </h1>
                    <h3>
                        Ahoy, sailor! Beware the tricky <b>Karenia brevis</b>—a tiny critter shaped like an upside-down heart that causes big trouble! It makes a toxin that harms sea creatures and can make humans feel dizzy and tingly if we eat bad shellfish. Watch out for its red tide in the Gulf of Mexico!
                    </h3>
                </div>
            </div>
            {% comment %} Next and previous buttons {% endcomment %}
            <div class="icon-wrapper">
                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>
            </div>
        </div>
        {% comment %} The dots/circles {% endcomment %}
        <div class="dots">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
        </div>
    </div>
{% endblock content %}
{% block extraScript %}
    <script src="{% static 'scripts/slideshow.js' %}"></script>
{% endblock extraScript %}
