{% extends 'main.html' %}
{% load static %}
{% load myfilters %}
{% block extra_head %}
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
        crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
          crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.min.css"
        rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script type="text/javascript"
          src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.20/jquery-ui.min.js"></script>
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.min.js"></script>
  <script type="text/javascript"
          src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.20/jquery-ui.min.js"></script>
  <script type="text/javascript"
          src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js"></script>
  <script type="text/javascript"
          src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.5.3/modernizr.min.js"></script>
  <link rel="stylesheet" href="{% static 'styles/btn_eos.css' %}" />
  <link rel="stylesheet" href="{% static 'styles/video_qa_book.css' %}" />
{% endblock %}
{% block content %}
  <body>
    <div class="container" id="bookContainer">
      <a href="{% url 'video_qa' normal_index %}">
        <img src="{% static 'images/back.png' %}" alt="Image does not exist" class="image">
      </a>
      <a href="#" onclick="checkAnswers()" id="send">
        <img src="{% static 'images/send.png' %}" alt="Submit" class="image2">
      </a>
      <div class="flipbook-viewport">
        <div>
          <div class="flipbook">
            <div class="row justify-content-center align-items-center">
              <div class="col">
                <div style="text-align: center;" class="title_text">
                  <h1>親愛的冒險者您好</h1>
                </div>
                <div style="text-align: center;" class="title_text">
                  <h1>歡迎參加遠傳夢想號冒險！</h1>
                </div>
                <br>
                <div style="text-align: center;" class="title_text">
                  <h1>為確保你的安全，</h1>
                </div>
                <div style="text-align: center;" class="title_text">
                  <h1>我們希望您能先閱讀這本須知手冊</h1>
                </div>
                <div style="text-align: center;" class="title_text">
                  <h1>並進行考核</h1>
                </div>
                <br>
                <div style="text-align: center;" class="title_text">
                  <h1>通過考核後，</h1>
                </div>
                <div style="text-align: center;" class="title_text">
                  <h1>您就可以正式成為船員</h1>
                </div>
                <div style="text-align: center;" class="title_text">
                  <h1>開始本場冒險了！</h1>
                </div>
                <div class="page-footer">點擊此進行翻頁</div>
              </div>
            </div>
            {% for aquestion in questions %}
              <div>
                <div class="container-fluid mt-4">
                  <div class="row align-items-center justify-content-center">
                    <div class="col-md-12 mt-4">
                      <div style="position: relative;
                                  padding-bottom: 56.25%"
                           class="video_frame">
                        <iframe style="position: absolute;
                                       top: 0;
                                       left: 0;
                                       width: 100%;
                                       height: 100%"
                                src="{{ aquestion.videoLink }}"
                                title="YouTube video player"
                                frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                allowfullscreen>
                        </iframe>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div>
                <div class="container-fluid questions">
                  <div class="row align-items-center justify-content-center exercise">
                    <div class="question fs-3 " id="question{{ forloop.counter }}">{{ forloop.counter }}.{{ aquestion.description }}</div>
                  </div>
                  <form method="post" class="container fs-3">
                    {% csrf_token %}
                    <!-- 第一行選項 -->
                    <div class="row button_group mt-2 mt-sm-5">
                      <div class="col mt-2 ">
                        <button type="button"
                                class="button"
                                onclick="sendSelection({{ forloop.counter0 }},0, this)"
                                id="option{{ forloop.counter }}-1"
                                {% if all_select|get_item:forloop.counter0 == 0 %}disabled{% endif %}>
                          {{ aquestion.options.0 }}
                        </button>
                      </div>
                      <div class="col mt-2">
                        <button type="button"
                                class="button"
                                onclick="sendSelection({{ forloop.counter0 }},1, this)"
                                id="option{{ forloop.counter }}-2"
                                {% if all_select|get_item:forloop.counter0 == 1 %}disabled{% endif %}>
                          {{ aquestion.options.1 }}
                        </button>
                      </div>
                    </div>
                    <!-- 第二行選項 -->
                    <div class="row button_group2">
                      <div class="col mt-2">
                        <button type="button"
                                class="button"
                                onclick="sendSelection({{ forloop.counter0 }},2, this)"
                                id="option{{ forloop.counter }}-3"
                                {% if all_select|get_item:forloop.counter0 == 2 %}disabled{% endif %}>
                          {{ aquestion.options.2 }}
                        </button>
                      </div>
                      <div class="col mt-2">
                        <button type="button"
                                class="button"
                                onclick="sendSelection({{ forloop.counter0 }},3, this)"
                                id="option{{ forloop.counter }}-4"
                                {% if all_select|get_item:forloop.counter0 == 3 %}disabled{% endif %}>
                          {{ aquestion.options.3 }}
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
{% endblock content %}
{% block extraScript %}
  <script type="text/javascript">
  window.CSRF_TOKEN = "{{ csrf_token }}";
  let selectedOption = -1;
  let choose = {{ all_select|safe }};
  let totalQuestionNumber = {{total_question_number}}
  let isAllSelect = {{is_all_selected|lower}}
  </script>
  <script src="/static/scripts/video_qa_book.js"></script>
{% endblock extraScript %}
